<section id="education" class="bg-body-secondary">
  <div class="container">
    <div class="p-mb-5 pe-3 ps-3 pb-5 pt-5">
      <h2 class="text-body-emphasis">Parcours Académique</h2>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <div class="dates">2025  Présent</div>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h3>Études en Réseau et Télécommunication</h3>
                <span>Université / IUTspan>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <div class="dates">2021 - 2024</div>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h3>Licence en Économie et Gestion</h3>
                <span>Université</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
