<section id="experience">
  <div class="container">
    <div class="p-mb-5 pe-3 ps-3 pb-5 pt-5">
      <h2 class="text-body-emphasis">Expérience Professionnelle
      </h2>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card mb-4 bg-body-secondary h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <div class="dates">2023</div>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h3>Web development, Retic</h3>
                <p>
                J'ai développé le site web de l'entreprise Retic en utilisant
WordPress. J'ai créé et personnalisé le site en sélectionnant des
thèmes adaptés et en intégrant des plugins pour répondre aux
besoins spécií ques de l'entreprise. J'ai également veillé à
optimiser l'interface utilisateur pour garantir une navigation î uide
et un design responsive,
                </p>
                <span>RETIC</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card mb-4 bg-body-secondary h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <div class="dates">2021</div>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h3>Stage dans le domain de Cybersécurité, Panther (Stage)</h3>
                <p>
                J'ai eì ectué un stage de six mois en cybersécurité, utilisant des
                  outils comme Nessus et Burp Suite pour analyser et gérer des
                  vulnérabilités. Cette expérience m'a permis de renforcer mes
                  compétences techniques et mon aptitude à résoudre des déí s
                  complexes en équipe.
                </p>
                <span>Panther</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card mb-4 bg-body-secondary h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <div class="dates">2022 - 2025</div>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h3>Freelance & Gestion de Projets</h3>
                <p>
                  Supervision d'une équipe chargée de gérer les données, créer des
                  sites web et réaliser des analyses de données. Rôle
                  d'intermédiaire entre les clients et les membres de l'équipe pour
                  assurer la communication, le respect des délais, et la satisfaction
                  client.
                  </p>
                <span>Indépendant</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
